node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
api.json
test-result.json
node_modules
/plawright-report/
/playwright-report/
test-results
.idea/
.idea
/.idea/
/.idea
эксперименты
эксперименты/
test-results
.idea
.idea/inspectionProfiles
.idea/modules.xml
db.json